# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# VS Code
.vscode/

# Project Data & Downloads
ZZZ_Mihoyo_Cloud_Download/
ZZZ_Mihoyo_Cloud_Download_MT/
ZZZ_Miyoushe_Cloud_Download/

# Logs
*.log

# Cookies (sensitive data)
*cookies*.json

# Temporary files
*.tmp
*.temp
cookie.txt
outputlog.txt

# OS
.DS_Store
Thumbs.db
